*{box-sizing: border-box;}

body{
	background-color:#ded5bf;
	color: #efefeb;
	font-family: monospace;
	margin: 0;
}

header{
	color: #785d44;
	height: 128px;
	background-color: #efefeb;
	background-image: url(logo.png);
	background-size: 130px 130px;
		background-repeat: no-repeat;
		padding-left: 5px;
		padding-bottom: 10px;
		padding-top: 5px;
		text-align: center;
}




h1{
	font-size: 5em; 
}

h2{
	font-size: 3em; 
}

h3{
	font-size: 2em; 
}

h2, h3{
	color: #a4927d;
}

p{
	color: #785d44;
	font-size: 1.5em;
}

h2, h3, h4, p{
	padding-left: 1em;
	padding-right: 1em;
}

ul{
	font-size: 1.3em;
	color: #785d44;
	padding-right: 1em;
}

main{
	padding-left: 0em;
	padding-bottom: 5em;
	padding-top: 0em;
	padding-right: 0em;
	display: block;
	background-color: #efefeb;

}

nav{
	background-color: #a4927d;
	padding: 1em;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	text-align: center;
	font-size: 2em;
}

nav a { text-decoration: none; color: #efefeb;}


footer {
	background-color: #a4927d;
	text-align: center;
	font-size: .80em;
	font-style: italic;
	padding: 1em;
	border: 1px solid #785d44


}

#homeImage{
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(campusLandscape.jpeg);
		
}

#InformationImage{
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(bookLandscape.jpeg);
		
}

#VibesImage{
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(spotLandscape.jpeg);
		
}

#StudyingImage{
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(studyLandscape.jpeg);
		
}

table, th, td {
	border: 1px solid;
}
table {
	width: 90%;
	border-spacing: 0;
	margin: auto;
	font-size: 1em;
}

th{
	font-size: 2.5em;
}

td {
	font-size: 2em;
	padding: 40x;
	text-align: center;
}

tr:nth-of-type(odd) {background-color: #a4927d;}
tr:nth-of-type(even) {background-color: #ded5bf;}

.center {
	text-align: center;
}

